/* header.css */

.navbar-area {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
     /* Add shadow for depth */
}

.login-register {
    cursor: pointer; /* Pointer cursor for login/register */
    color: #007bff; /* Bootstrap primary color */
    display: flex; /* Flexbox for icon and text */
    align-items: center; /* Center items vertically */
}

.login-register i {
    margin-right:0px; /* Space between icon and text */
}

/* Optional: Add media queries for responsiveness if needed */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}
.navbar-brand{
    margin: 10px 50px 10px 50px;
}

.login1{
    position: absolute;
    right: 50px;
}

.button-login{
    position: absolute;
    right: 50px;
}